[submodule "src/libs/lvgl"]
	path = src/libs/lvgl
	url = https://github.com/InfiniTimeOrg/lvgl.git
[submodule "src/libs/littlefs"]
	path = src/libs/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "src/libs/arduinoFFT"]
	path = src/libs/arduinoFFT
	url = https://github.com/kosme/arduinoFFT.git
[submodule "ports/esp32/vendor/waveshare"]
	path = ports/esp32/vendor/waveshare
	url = https://github.com/waveshareteam/ESP32-S3-Touch-AMOLED-1.75C.git
